.image {
    width: 100%;
    }



// Aspect ratios
.aspect--square {
    padding-bottom: 100%;
    }
.aspect--cinema {
    padding-bottom: 56.25%;
    }
.aspect--boutique {
    padding-bottom: 41.875%;
    }
.aspect--carousel {
    padding-bottom: 58.8%;
    }