// Screens
.screen {
    background-color: $dark;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    transition: opacity $ease-duration $ease-cubic,
                visibility $ease-duration $ease-cubic,
                z-index $ease-duration $ease-cubic;
    z-index: $z_layer_behind;
    @include display-light();
    @include font-sans-display();

    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_infront;
        -webkit-overflow-scrolling: touch;
        }
    }
.screen--light {
    background-color: $white;
    }
.screen__wrap {
    height: 100%;
    opacity: 0;
    transform: translate3d( 0, $navbar-size, 0 );
    @include ani-move-block-delayed();
    }
.screen.is-active {
    .screen__wrap {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
    }
.screen__exit {
    color: $white;
    cursor: pointer;
    font-size: 0;
    height: $navbar-size;
    line-height: $navbar-size;
    padding: 0;
    position: absolute;
    right: $navbar-size / 2;
    top: $navbar-size / 2;
    width: $navbar-size;
    }
.screen__label {
    color: $grey-dark;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: $mobile-padding;
    text-transform: uppercase;
    @include display-medium();
    @include font-sans-display();
    }



@media only screen and ( max-width: $break-mobile-full ) {
    .screen {
        padding: $mobile-padding;
        }
    .screen__label {
        margin-bottom: $mobile-padding;
        }
}