<div class="feed__item feed__item--gallery js-controller--gallery" data-url="<%= item.url %>" data-title="<%= CGI.escapeHTML( item.title ) %>" data-caption="<%= CGI.escapeHTML( item.caption ) %>">
    <div class="feed__cover">
        <img class="feed__image image js-lazy-image" data-img-src="<%= item.image %>" />
    </div>
</div>