<section class="gallery-overlay js-gallery-overlay screen screen--light">
    <div class="gallery-overlay__wrap screen__wrap">
        <div class="gallery-overlay__template js-gallery-template">
            <div class="gallery-overlay__graphic js-gallery-graphic valigner">
                <div class="valigner__cell">
                    <div class="gallery-overlay__image js-gallery-image"></div>
                </div>
            </div>
            <div class="gallery-overlay__context js-gallery-context valigner wrapper">
                <div class="valigner__cell">
                    <div class="gallery-overlay__caption title__serif">
                        <span class="gallery-overlay__text js-gallery-caption"></span>
                    </div>
                    <a class="gallery-overlay__title title js-gallery-link" href="#">
                        <div class="gallery-overlay__text js-gallery-title a-link"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-overlay__nav gallery-overlay__devance js-controller--gallery-nav">
        <span class="gallery-overlay__icon icon icon--arrow-left-thin"></span>
    </div>
    <div class="gallery-overlay__nav gallery-overlay__advance js-controller--gallery-nav">
        <span class="gallery-overlay__icon icon icon--arrow-right-thin"></span>
    </div>
</section>