<header class="header js-header">
    <section class="header__col">
        <button class="button header__icon header__list js-controller--navbar">
            <span class="icon--faux icon--list js-navbar-toggle">
                <span class="icon--faux__wrap icon--list__wrap"></span>
            </span>
        </button>
    </section>
    <section class="header__col header__utility js-utility">
        <button class="button header__icon header__audio js-audio-wave">
            <span class="icon--faux icon--audio">
                <span class="icon--faux__wrap icon--audio__wrap">
                    <span class="icon--audio__bar"></span>
                    <span class="icon--audio__bar"></span>
                    <span class="icon--audio__bar"></span>
                    <span class="icon--audio__bar"></span>
                    <span class="icon--audio__bar"></span>
                </span>
            </span>
        </button>
    </section>
</header>