<a class="linklist__lock headline js-linklist-item" href="<%= item.url %>" target="_blank">
    <div class="linklist__title a-link"><%= item.title %></div>
    <div class="linklist__meta meta meta--locked">
        <span class="linklist__url js-linklist-hostname"></span>
    </div>
</a>