<section class="loadin js-loadin screen is-active">
    <div class="valigner">
        <div class="valigner__cell">
            <img class="maekan" src="/images/svg/icon--mae--light.svg" />
            <img class="maekan" src="/images/svg/icon--kan--light.svg" />
        </div>
    </div>
    <div class="loadin__bar js-bar"></div>
</section>