---
title: Features
topic: Features
controller: app
---
<%
@collection = ordered_random_merge( data.feed, data.features )
%>
<%= partial "partials/cover.erb" %>


<%= partial "partials/refine-label.erb" %>


<section class="feed feed--center js-feed" data-page="0" data-pages="1">
    <% @collection.each do |item| %>
        <%= partial "partials/feeditem", :locals => { :item => item } %>
    <% end %>
</section>